.navbar-brand-personal {
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 35px;
  color: whitesmoke;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
  }
}

.nav-item {
  font-size: 25px;
  font-family: Ubuntu;
  color: grayscale($color: #a5a1a1);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
  }
}
